@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <br>
    <h3>Sistema de Registo de Dados</h3>
    <p>Aqui poderá adicionar, alterar ou apagar novos registos de utilizadores</p>
</div>
