@model CadastroModel
@{
    ViewData["Title"] = "Cadastro Visistante";
}

<div class="text-center">

    <h1 class="display-4"> <img src="~/img/cadastro.png"></h1>
   

</div>

<form asp-controller="Cadastro" asp-action="Criar" method="post">

    <div class="form-group col-md-6">
       
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Insira o nome de contato">
        @Html.ValidationMessageFor(x => x.Nome)
       
    </div>

    <div class="form-group col-md-6">

        <label for="endereco">Endereço</label>
        <input type="text" asp-for="Endereco" class="form-control" placeholder="Insira o endereço do contato">
        @Html.ValidationMessageFor(x => x.Endereco)

    </div>

    <div class="form-group col-md-6">

        <label for="telemovel">Telemóvel</label>
        <input type="text" asp-for="Telemovel" class="form-control" placeholder="Insira um telemóvel de contato">
        @Html.ValidationMessageFor(x => x.Telemovel)

    </div>
    <br /> 
    
    <button type="submit" class="btn btn-secondary btn-block">Submeter</button>
    <a class="btn btn-dark btn-block" asp-controller="Cadastro" asp-action="Index" role="button">Voltar</a>
</form >